/* Estilos base y fuentes */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #dcdcdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo del header */
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para el banner */
    text-align: center;
    padding: 20px 0; /* Padding superior e inferior para el banner */
}

header img {
    max-width: 100%; /* Hace que la imagen del banner sea responsiva */
    height: auto;
}

/* Estilos de la barra de navegación */
nav {
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para la barra de navegación */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
}

nav ul {
    list-style-type: none; /* Elimina los marcadores de la lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Dispone los elementos de la lista en línea */
    justify-content: center; /* Centra los elementos de la lista */
    align-items: center; /* Centra los elementos de la lista verticalmente */
}

nav ul li {
    padding: 10px 20px; /* Espaciado dentro de cada elemento de la lista */
}

nav a {
    color: #e6e6e6; /* Color claro para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Hace que los enlaces llenen el espacio del elemento li */
    transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

nav a:hover {
    color: #ffffff; /* Color más claro al pasar el mouse */
    text-decoration: none; /* Asegura que no haya subrayado al pasar el mouse */
}

#important-dates,
#posters-abstracts,
#speakers {
    display: none;
    transition: opacity 0.5s ease;
}

.visible-section {
    display: block;
    opacity: 1;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Espacio entre la imagen y el contenido */
    margin: 0 auto;
    max-width: 1200px; /* O el ancho máximo que prefieras */
}

.conference-content-wrapper {
    display: flex; /* Establishes a flex container */
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    justify-content: flex-start; /* Aligns items to the start of the flex container vertically */
    padding: 20px; /* Add padding for aesthetics */
    width: 50%; /* Assigns a width of 50% */
}

.conference-poster {
    width: 50%; /* Assigns a width of 50% to the image container */
    text-align: center; /* Centers the image */
}

.conference-poster img {
    max-width: 100%; /* Ensures the image is responsive and doesn't overflow */
    height: auto; /* Keeps the aspect ratio of the image */
}

.conference-info h1 {
    margin-bottom: 16px; /* Spacing between title and paragraph */
}

.conference-info p {
    margin-bottom: 20px; /* Spacing between paragraph and buttons */
}

.buttons {
    display: flex;
    justify-content: space-between; /* Evenly spaces buttons horizontally */
    width: 100%; /* Buttons container takes full width of its parent */
}

button {
    padding: 10px 20px; /* Adds padding inside buttons */
    align-self: center; /* Centers buttons in the flex container */
}

/* Responsive design para pantallas pequeñas */
@media (max-width: 768px) {
    .main-content, .conference-content-wrapper, .conference-poster {
        flex-direction: column;
        width: 100%; /* Los elementos toman todo el ancho en pantallas pequeñas */
    }

    .conference-poster {
        margin-bottom: 20px; /* Adds space between image and conference info on small screens */
    }
}

#important-dates table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#important-dates th, 
#important-dates td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #ccc;
}

#important-dates th {
    background-color: #333;
    color: #fff;
}

#important-dates tr:nth-child(even) {
    background-color: #393939;
}

/* Estilo para las filas pares de la tabla para mejorar la legibilidad */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.carousel-items .carousel-item {
    display: none;
    text-align: center;
}

.carousel-items .active {
    display: block;
}

.carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-control.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.carousel-control:hover {
    background-color: rgba(0,0,0,0.8);
}
