/* Estilos base y fuentes */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #dcdcdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo del header */
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para el banner */
    text-align: center;
    padding: 20px 0; /* Padding superior e inferior para el banner */
}

header img {
    max-width: 100%; /* Hace que la imagen del banner sea responsiva */
    height: auto;
}

/* Estilos de la barra de navegación */
nav {
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para la barra de navegación */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
}

nav ul {
    list-style-type: none; /* Elimina los marcadores de la lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Dispone los elementos de la lista en línea */
    justify-content: center; /* Centra los elementos de la lista */
    align-items: center; /* Centra los elementos de la lista verticalmente */
}

nav ul li {
    padding: 10px 20px; /* Espaciado dentro de cada elemento de la lista */
}

nav a {
    color: #e6e6e6; /* Color claro para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Hace que los enlaces llenen el espacio del elemento li */
    transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

nav a:hover {
    color: #ffffff; /* Color más claro al pasar el mouse */
    text-decoration: none; /* Asegura que no haya subrayado al pasar el mouse */
}

#important-dates,
#posters-abstracts,
#speakers {
    display: none;
    transition: opacity 0.5s ease;
}

.visible-section {
    display: block;
    opacity: 1;
}

.main-content {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-around; /* Space between image and content */
    margin: 0 auto;
    max-width: 1200px; /* Maximum width preference */
}

.conference-content-wrapper {
    display: flex;
    flex-direction: row-reverse; /* Flips the order so the text is first */
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Space out items horizontally */
    padding: 20px; /* Padding for aesthetics */
    width: 100%; /* Full width to contain both elements */
}

.conference-poster,
.conference-info {
    flex: 1; /* Both children share the space equally */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; /* Aligns text to the left */
}

.conference-poster img {
    max-width: 100%; /* Image responsive to its container */
    height: auto; /* Maintain aspect ratio */
}

.conference-info {
    flex-direction: column; /* Stack elements vertically */
}

.conference-info h1 {
    margin-bottom: 0.5em; /* Spacing between title and text */
}

.conference-info p {
    margin-bottom: 1em; /* Spacing between text and buttons */
}

.buttons {
    display: flex;
    justify-content: flex-start; /* Aligns buttons to the start */
    gap: 1em; /* Space between buttons */
}

button {
    padding: 10px 20px; /* Padding inside buttons */
    /* Margin-top removed, no longer needed */
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    .main-content,
    .conference-content-wrapper {
        flex-direction: column;
    }

    .conference-poster,
    .conference-info {
        width: 100%; /* Elements take full width on small screens */
    }

    .buttons {
        justify-content: center; /* Centers buttons on small screens */
    }
}


#important-dates table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#important-dates th, 
#important-dates td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #ccc;
}

#important-dates th {
    background-color: #333;
    color: #fff;
}

#important-dates tr:nth-child(even) {
    background-color: #393939;
}

/* Estilo para las filas pares de la tabla para mejorar la legibilidad */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.carousel-items .carousel-item {
    display: none;
    text-align: center;
}

.carousel-items .active {
    display: block;
}

.carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-control.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.carousel-control:hover {
    background-color: rgba(0,0,0,0.8);
}
