/* Agrega estos estilos al archivo styles.css existente */

.conference-poster img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.conference-poster h1 {
    text-align: center;
    margin: 20px 0;
}

.conference-poster p {
    text-align: justify;
    margin-bottom: 20px;
}

.forms-section {
    text-align: center;
    margin-bottom: 20px;
}

.forms-section button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.forms-section button:hover {
    background-color: #0056b3;
}

#important-dates h2 {
    font-size: 24px; /* Ajusta el tamaño según prefieras */
    font-weight: bold; /* Ya está en negrita por el <strong> en el HTML, pero esto es para asegurar */
    margin-bottom: 20px;
}

#important-dates table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#important-dates th, 
#important-dates td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#important-dates th {
    background-color: #f2f2f2;
    color: #333;
}

/* Estilo para las filas pares de la tabla para mejorar la legibilidad */
#important-dates tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Estilos para centrar el carrusel y las imágenes */
#posters-abstracts {
    text-align: center;
}

.carousel {
    width: 70%; /* Ancho del carrusel */
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para la descripción */
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Ancho de los controles */
}

/* Estilos para hacer que los controles aparezcan sobre la imagen */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon {
    left: 0;
}

.carousel-control-next-icon {
    right: 0;
}
